.popupDelete {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 20px;
  top: 25%;
  left: 25%;
  border: 3px solid #000;
  border-radius: 15px;
}

.popupButtons {
  display: flex;
  justify-content: space-between;
}

.popupDelete button {
  flex-grow: 1;
  margin: 0 5px;
  padding: 10px;
  width: 25px;
  border: 2px solid #000;
  border-radius: 10px;
}
