.header {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 4px 15px;
  border: 1.5px solid transparent;
  width: 470px;
}

.headerRight {
  display: flex;
  gap: 16px;
}

.headerRight button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #6b6b6b;
  color: #fff;
  margin: 0;
  padding: 4px 12px;

  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
}

