.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 5px;
}

.button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:disabled {
  cursor: not-allowed;
}

.active {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}
