.taskList {
  display: grid;
  gap: 10px;
}

.empty {
  text-align: center;
  padding: 10px;
}

.task {
  border: 1px solid #ccc;
  width: 465px;
  padding: 15px;
}

.completed {
  background: #52CC7A;
}

.taskWrap {
  display: flex;
  justify-content: space-between;
}

.taskText {
  flex-grow: 1;
  padding: 10px;
}

.taskMenu {
  padding: 5px;
  float: right;
}

.timeStamp {
  clear: both;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px;
  color: #000;
}

