.taskForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.taskInput {
  width: 100%;
  width: 465px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1.5px solid #000;
}

.buttonsRow {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.createTask {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.createTask:hover {
  border-color: #646cff;
}
.createTask:focus,
.createTask:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.createTask {
  width: 135px;
  height: 41.8px;
  padding: 10px;
  color: #fff;
}
