.themeSwitcher {
  position: relative;
  align-items: center;
}

.themeCurrent {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.themeCurrent {
  white-space: nowrap;
  padding: 4px 12px;
  background: #6b6b6b;
}

