#root {
  width:500px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 15px;
  margin: 100px auto;
  border-radius: 20px;
}

.header-bar {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 4px 12px;
  border-bottom: 1px solid #ccc;
  /* border-radius: 2px; */
}

.header-bar button {
  align-self: center;
  height: auto;
  margin: 0;
  padding: 4px 12px;
}


